@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #ec494d;
  --secondary: #222222;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background: transparent;
  color: #fff;
}
body {
  width: 800px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  cursor: pointer;
}

button {
  outline: none;
  border: none;
}

.d__flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
textarea {
  outline: none;
  border: none;
  padding: 0.6rem 1.2rem;
  width: 100%;
  border-radius: 1rem;
}

.scroll__hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scroll__hidden::-webkit-scrollbar {
  display: none;
}

.general__heading {
  font-size: 1.8rem;
  font-weight: 800;
  letter-spacing: 1px;
  border-bottom: 2px dashed var(--primary);
  padding-bottom: 2rem;
}

@media screen and (max-width: 991px) {
  body {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  body {
    width: 95%;
  }
}
