.portfolio__project__items {
  width: 100%;
  height: 430px;
  margin-top: 5rem;
  margin-bottom: 3rem;
  background-color: var(--secondary);
  padding: 1rem;
  border-radius: 1rem;
}
.portfolio__project__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background-color: transparent;
  align-items: center;
  grid-template-areas: "info img";
}
.project__item__info {
  text-align: left;
  padding: 2rem 1rem;
  grid-area: info;
}

.project__item__info h2 {
  font-size: 1.5rem;
  color: var(--primary);
  font-weight: 700;
  border-bottom: 1px dashed var(--primary);
  padding-bottom: 0.5rem;
}
.project__item__info p {
  font-size: 0.9rem;
  margin: 1rem 0;
}
.project__item__info .features__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.project__item__info .features__container li {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  gap: 0.8rem;
}
.project__item__info .features__container li span:first-child {
  color: var(--primary);
}

.portfolio__item__button__continer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.project__item__info .technology__container, .project__item__img .technology__container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}
.project__item__info .technology__container li, .project__item__img .technology__container li {
  list-style: none;
  padding: 0.2rem 0.5rem;
  font-size: 0.7rem;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 3rem;
}
.project__item__img .technology__container {
  margin-bottom: 1rem;
  margin-top: 0rem;
}

.project__item__info button {
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  background-color: var(--primary);
  color: #fff;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  margin-top: 2rem;
  cursor: pointer !important;
}

.project__item__info button:hover {
  background-color: #fff;
  color: var(--primary);
}
.project__item__img {
  grid-area: img;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 350px !important;
  object-fit: contain;
  border-radius: 1rem;
}

.swiper-pagination {
  background-color: var(--secondary);
  padding: 5px 10px;
  border-radius: 5px;
  width: fit-content;
  margin: 0 auto;
}
.swiper-pagination-bullet {
  background-color: var(--primary) !important;
  opacity: 1;
}

.portfolio__modal__content {
  overflow: auto !important;
  max-height: 100% !important;
}

@media screen and (max-width: 767px) {
  .portfolio__project__items {
    height: 750px;
  }
  .portfolio__project__item {
    grid-template-columns: 1fr;
    grid-template-areas:
      "img"
      "info";
  }
  .project__item__info h2 {
    font-size: 1.2rem;
  }
  .swiper-slide img {
    height: 250px !important;
  }
}
